
.Basket__netsWrapper{
  display: flex;
  gap: 5vw;
}

.Basket__nets{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1vw;
}

.Basket__net{
  padding: 0 1%;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 2vw;

  background-color: rgba(45, 199, 3, .3);
  border-radius: 1vw;
  transition: all .2s ease-in-out;

  &:hover{
    cursor: pointer;
    transform: scale(1.02);
    box-shadow: 0 0 5px;
  }

  p{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Basket__image{
  padding: 1vw;
  height: 10vw;
  object-fit: contain;
}

.Basket__editableProperty{
  max-width: 10vw;
}

.Basket__results{
  display: flex;
  gap: 1vw;
  flex-direction: column;
}

