
.Basket__netsWrapper{
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.Basket__nets{
  width: 75%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.Basket__net{
  width: 100%;
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // gap: 1.5vw;

  border-bottom: 1px solid;
  border-right: 0;
  border-left: 0;
  transition: all .2s ease-in-out;

  &:hover{
    cursor: pointer;
    transform: scale(1.02);
    border: 1px solid;
    border-radius: 1vw;
    box-shadow: 0 0 5px;
  }
  p{
    margin: 0;
  }
}
.Basket__netProperty{
  display: flex;
  // align-self: center;

  &:first-child{
    gap: 1vw;
  }
  &:last-child{
    flex-direction: column;
    align-items: center;
  }
}

.Basket__image{
  width: 7vw;
  height: 7vw;
  object-fit: cover;
  border-radius: 1vw;
}

.Basket__editableTextField{
  width: 10vw;
}

.Basket__results{
  padding: 2%;
  width: 20%;
  box-sizing: border-box;
  display: flex;
  gap: 1vw;
  flex-direction: column;
  background-color: rgba(45, 199, 3, .1);
  border-radius: 1vw;
}

