
:root {
  --slider-and-info-widht: 48%;
}

.Card{
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
}

.Card__slider{
  width: var(--slider-and-info-widht);
  height: 30vw;
}

.Card__info{
  width: var(--slider-and-info-widht);
}

.Card__basketButton{
  margin: 5% 0;
}

.Card__elementToBasket{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  background-color: black;
  opacity: 0;
  transform: translateX(-100%);
}

.Card__description{
  p{
    margin-top: 5%;
  }
}

