
:root {
  --slider-and-info-widht: 48%;
}

.Card{
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
}

.Card__slider{
  width: var(--slider-and-info-widht);
  height: 30vw;
}

.Card__info{
  width: var(--slider-and-info-widht);
}

.Card__description{
  p{
    margin-top: 5%;
  }
}

