
.Card{
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
}

.Card__swiper{
  margin: 0 !important;
  width: 48%;
  height: 30vw;

  border-radius: 10px;
  overflow: hidden;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.Card__description{
  width: 48%;

  p{
    margin-top: 5%;
  }
}

.Card__properties{
  width: 50%;
  display: flex;
  flex-direction: column;

  .Card__property{
    margin-bottom: 5%;
    width: 100%;
    display: flex;
    align-items: end;
  }
  .underline{
    margin: 0 2%;
    flex-grow: 1;
    border-bottom: 1px dotted gray;
  }
  .Card__muiLabel{
    width: fit-content;
  }
}
