
.AdminCard__imagesWrapper{
  margin-bottom: 2%;
  display: flex;
  img{
    object-fit: contain;
  }
}
.AdminCard_uploadFile{
  margin-left: 2%;
  align-self: end;
}
.AdminCard__slider, .AdminCard_noimage{
  width: 48%;
  height: 30vw;
}

.AdminCard__inputs{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1vw;
}
.AdminCard__input{
  width: 45%;
  flex-grow: 1;
}
.AdminCard__input_cell{
  display: flex;
  justify-content: space-between;
}


.AdminCard_addButton{
  margin-top: 2%;
}
.AdminCard_saveButton{
  margin-top: 2%;
  background-color: green;
}
.AdminCard_deleteButton{
  margin-top: 2%;
  margin-left: 2%;
  background-color: red;
}
