
.Net{
  display: flex;
  justify-content: space-evenly;
}

.Net__slider, .net__noimage{
  width: 40vw;
  height: 70vh;
  object-fit: contain;
}

.Net__properties{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1.5vw;

  .Net__property{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  span{
    display: block;
  }
  
  .underline{
    margin: 0 2%;
    flex-grow: 1;
    border-bottom: 1px dotted gray;
  }
}
